
  <input type="number" name="num1" placeholder="ingrese numero" class="form-control" [(ngModel)]="num1">
  <input type="number" name="num2" placeholder="ingrese numero" class="form-control" [(ngModel)]="num2">
      <div class="row align-items-center">
        <div class="col">
          <button class="btn btn-info" type="button" (click)="Resultado()">Sumar</button>
        </div>
        <div class="col">
          <button class="btn btn-danger" type="button" (click)="Limpiar()">Limpiar</button>
        </div>
      </div>

