
  <input type="text" name="num1" placeholder="ingrese largo" class="form-control" (ngModel)="num1">
  <input type="text" name="num2" placeholder="ingrese ancho" class="form-control" (ngModel)="num2">
      <div class="row align-items-center">
        <div class="col">
          <button class="btn btn-info" type="button" (click)="Resultado()">Calcular perimetro rectangulo</button>
        </div>
        <div class="col">
          <button class="btn btn-danger" type="button" (click)="Limpiar()">Limpiar</button>
        </div>
      </div>

