<h2>Paginas disponibles</h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" routerLink="pagina1" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Página 1</li>
      <li class="list-group-item" routerLink="pagina2" routerLinkActive="active">Página 2</li>
      <li class="list-group-item" routerLink="pagina3" routerLinkActive="active">Página 3</li>
      <li class="list-group-item" routerLink="pagina4" routerLinkActive="active">Página 4</li>
      <li class="list-group-item" routerLink="pagina5" routerLinkActive="active">Página 5</li>
      <li class="list-group-item" routerLink="pipes" routerLinkActive="active">CustomPipes</li>
    </ul>

